.burger-button {
	color: white;
	display: none !important;
	/* important used on these fa icons as FA files load after css  */
}

@media (max-width: 768px) {

	.burger-button {
		margin-top: 33%;
		margin-right: 10px;
		display: flex !important;
	}

	#burger {
		width: 40px;
	}

}
